@tailwind base;
@tailwind components;
@tailwind utilities;
.scroller-x-axes::-webkit-scrollbar {
  display: none;
}

.scroller-x-axes {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  text-align: center;
  color: white;
}
.indicator-item-verified {
  position: absolute !important;
  top: 0px !important;
  right: -8px !important;
  color: blue !important;
  border: none !important;
  background-color: transparent !important;
}
.drawer {
  display: grid;
  width: 100%;
  overflow: hidden;
  height: auto !important;
  /* height: 100dvh; */
}
.btnnav {
  color: white;
  border: 1px solid white;
  transition: 1s;
}
.btnnav:hover {
  color: black;
  border: 1px solid black;
  background: white;
  transform: scale(1);
}
.scroll-to-top {
  border-radius: 9999px !important;
}
